<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="101184466692-kr68aen0dp5gdqbih75vdaoc701ql7l3.apps.googleusercontent.com">

    <!-- JavaScript -->
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
    -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src='/resources/js/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src='../resources/js/google_sign_in.js'></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/css/HungryHill.css">
    <title>Hungry Hill</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <% 
      var button1='<div style="margin-left: auto; ';
      var button2='<button style="margin-left: auto; ';
      
      if (logged_in==true) {
        button1+='display:none;';
      }
      else {
        button2+='display:none;';
      }

      button1+=`" id='GoogleSignIn' class="g-signin2" data-onsuccess="onSignIn"></div>`;
      button2+=`" id='GoogleSignOut' onclick='onOut()'>Sign Out</button>`;
    %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../resources/img/hungryhill.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Hungry Hill
      </a>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
          <a class="nav-link" href="/">Match Recipes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/filters">Filters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/recipes">Featured</a>
        </li>
      </ul>
      <%- button1 %><%- button2 %>
      </div>
    </nav>

    
    <%
    var featured_html="";
    featured.forEach(function (rec) {
      featured_html+=`<div class='feature-card'>
        <img class='feature-img' src='` + rec.picture +`'>
        <p>`+ rec.name +`</p>
        </div>`;
    });

    var vegetarian_html="";
    vegetarian.forEach(function (rec) {
      vegetarian_html+=`<div class='feature-card'>
        <img class='feature-img' src='` + rec.picture +`'>
        <p>`+ rec.name +`</p>
        </div>`;
    });

    var liked_html="";
    liked.forEach(function (rec) {
      liked_html+=`<div class='feature-card'>
        <img class='feature-img' src='` + rec.picture +`'>
        <p>`+ rec.name +`</p>
        </div>`;
    });
    %>
    

    <h3>Top Recipes</h3>
    <div class='feature-set'>
      <%- featured_html %>
    </div>
    

    <h3>Vegetarian</h3>
    <div class='feature-set'>
      <%- vegetarian_html %>
    </div>
    

    <h3>What You Swiped Right On</h3>
    <div class='feature-set'>
      <%- liked_html %>
    </div>


  </body>
</html>
